{% extends 'base.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}

{% block title %}Agent-Owner{% endblock title %}


{% block body %}
<div class="main-container">
    <div class="container-flex container-fluid px-0 mb-4">
        <img src="/static/Agent-owner.png" class="d-block w-100 h-80 mx-0" alt="...">
    </div>
    <div class="container-flex container">
        <h3 class="text-center">Add Agent-Owner info</h3>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}

        <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" value="Send" class="btn btn-primary my-2 ">Submit</button>
        </form>

    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Previous Feedbacks</h2>
        <h2 class="text-center"><em>Total: {{feedback|length}}</em></h2>
        <table class="table table-bordered">
            <thead>
                <tr class="table table-dark">
                    <th>ID</th>
                    <th>Agent</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody>
                {% for msg in feedback %}
                <tr>
                    <td>{{msg.id}}</td>
                    <td>{{msg.agent}}</td>
                    <td>{{msg.owner}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

    {% endblock body %}
